<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiyu.mapper.ArticleMapper">

    <insert id="addArticle" >
        INSERT INTO article VALUES (default ,#{title},#{content},#{desc}, default,#{userId})
  	</insert>

    <select id="selectByTitle" resultType="com.shiyu.entity.model.ArticleDto">
        SELECT * FROM article sa
        LEFT JOIN admin ad ON ad.id = sa.user_id
        <if test="title != null and title != ''">
            WHERE sa.title LIKE "%"#{title}"%"
        </if>
    </select>

    <select id="selectById" resultType="com.shiyu.entity.model.ArticleDto">
        SELECT * FROM article sa
        LEFT JOIN admin ad ON ad.id = sa.user_id
        WHERE sa.id = #{id}
    </select>

    <delete id="deleteById">
        delete from article sa where sa.id = #{id}
    </delete>

    <update id="updateArticle">
        update article
        <set>
            <if test="title != null">title=#{title},</if>
            <if test="content != null">content=#{content}</if>
        </set>
        where id=#{id}
    </update>
</mapper>
